

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  /* disable highlight on mobile devices when tapping on screen */
  -webkit-tap-highlight-color: transparent;
}
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  /* disable highlight on mobile devices when tapping on screen */
  -webkit-tap-highlight-color: transparent;
}
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  /* disable highlight on mobile devices when tapping on screen */
  -webkit-tap-highlight-color: transparent;
}


.col {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  gap: 10px;
}
.rowWrap {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  gap: 10px;
}




.square {
  width: 100px;
  height: 100px;
  padding: 8px 8px;
  border-radius: 5px;
}
.rect {
  width: 300px;
  height: 100px;
  padding: 10px 32px;
  border-radius: 5px;
}


.text {
  font-family: system-ui, sans-serif;
  font-size: 14.5px;
  letter-spacing: 2px;
}
