

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  /* disable highlight on mobile devices when tapping on screen */
  -webkit-tap-highlight-color: transparent;
}
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  /* disable highlight on mobile devices when tapping on screen */
  -webkit-tap-highlight-color: transparent;
}
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  /* disable highlight on mobile devices when tapping on screen */
  -webkit-tap-highlight-color: transparent;
}





.text {
  font-family: system-ui, sans-serif;
  font-size: 14.5px;
  letter-spacing: 2px;
}

.box {
  border-radius: 5px;
  padding: 10px 32px;
}